{% extends 'base.html' %}

{% block label %}
    请假列表
{% endblock %}


{% block content %}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th style="text-align: center;font-size:50px; " colspan="4">请假条</th>

            </tr>
            <tr>
                <th>请假人姓名</th>
                <td>
                    <input type="text" name="username" placeholder="姓名" class="form-control">
                </td>
                <th>请假类型</th>
                <td>
                    <select name="type" class="form-control">
                        <option value="事假">事假</option>
                        <option value="病假">病假</option>
                        <option value="婚假">婚假</option>
                        <option value="产假">产假</option>
                         <option value="调休">调休</option>
                         <option value="其他">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>开始时间</th>
                <td><input type="date" name="start_time" class="form-control content"></td>
                <th>结束时间</th>
                <td><input type="date" name="end_time" class="form-control content"></td>
            </tr>
            <tr>
                <th>联系方式</th>
                <td><input type="text" name="phone" class="form-control content"></td>
                <th>请假天数</th>
                <td><input type="number" name="day" class="form-control content"></td>
            </tr>
            <tr>
                <th style="line-height: 120px;">描述</th>
                <td colspan="3"><textarea name="desc" id="" cols="60" rows="5" class="form-control content"></textarea></td>
            </tr>
            <tr>
                <td colspan="4"><input type="submit" class="btn btn-facebook" id="check" style="float: right;width: 100%;"></td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block script %}
    <script>
        $("#check").click(function () {
          if($(".content").val()==''){
              alert("请完善所有信息")
          }
        })
    </script>
{% endblock %}